git+https://github.com/openai/swarm.git
openai
firecrawl-py
fpdf==1.7.2
streamlit
streamlit_option_menu
streamlit_extras
faiss-cpu
plotly
openpyxl
langchain
langchain_community
scipy
scikit-learn
lxml_html_clean
beautifulsoup4 
requests
PyPDF2
seaborn